.prueba
{
    /* Permalink - use to edit and share this gradient. Enlace permanente - úsalo para editar y compartir este gradiente:
    https://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+63,dddfe3+80,f5f6f6+100 */
    background: linear-gradient(to bottom,  rgb(245,246,246) 0%,rgb(219,220,226) 21%,rgb(184,186,198) 63%,rgb(221,223,227) 80%,rgb(245,246,246) 100%); 
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 900px;
}