.container{
    background-color: white;
}

.registro-directo{
    display: flex;
}

.registro-google{
    display: flex;
    align-items: center;
    margin-left: 20px;
    border: solid;
    border-color: blue;
    background-color: blue;
    color: white;
    width: 250px;
}

.btn-gmail{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.registro-x{
    margin-left: 20px;
}

.btn-x{
    width: 30px;
    height: 30px;
}

.formulario{
    display: list-item;
}